* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 237, 240);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 600px;
  /* border: 2px solid red; */
}

h1 {
  text-align: center;
  background: rgb(243, 63, 93);
  color: white;
}

.hidden {
  display: none;
}

.cash-given {
  padding: 20px 0;
}

#cash-amount {
  margin-top: 20px;
}

#check-btn {
  margin-top: 10px;
}

button {
  width: 90px;
  margin: 20px 5px;
  font: 20px bold;
  padding: 5px;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: blueviolet;
  color: white;
  font-size: 20px;
}

input {
  width: 80%;
  padding: 10px;
  margin-left: 5px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

td {
  width: 60px;
  padding: 5px;
  align-items: center;
}

span {
  font-weight: bold;
}

.alert {
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 3vh;
  }
  .main-container {
    width: 100%;
  }
  h1 {
    font-size: 40px;
    padding: 15px;
    width: 80vw;
  }

  label,
  caption {
    font-size: 20px;
    font-weight: 600;
    padding: 15px 5px;
  }
  th {
    padding: 3px;
  }
}

@media only screen and (min-width: 600px) {
  body {
    margin: 15vh;
  }
  .main-container {
    width: 80%;
  }
  h1 {
    font-size: 60px;
    padding: 20px;
    width: 100%;
  }

  label,
  caption {
    font-size: 30px;
    font-weight: 600;
    padding: 20px 5px;
  }
  th {
    padding: 5px;
  }
}
